[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
marshmallow = "*"
flask-marshmallow = "*"
"psycopg2" = "*"
marshmallow-sqlalchemy = "*"
flask-restful = "*"
pyjwt = "*"
flask-migrate = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-cors = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
